<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image 4908.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,25}</string>
                <key>spriteSourceSize</key>
                <string>{36,25}</string>
                <key>textureRect</key>
                <string>{{68,528},{36,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 4910.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,23}</string>
                <key>spriteSourceSize</key>
                <string>{36,25}</string>
                <key>textureRect</key>
                <string>{{91,555},{36,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 4912.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,23}</string>
                <key>spriteSourceSize</key>
                <string>{36,25}</string>
                <key>textureRect</key>
                <string>{{91,580},{36,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 4919.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,27}</string>
                <key>spriteSourceSize</key>
                <string>{81,27}</string>
                <key>textureRect</key>
                <string>{{1,1},{81,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 4921.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,27}</string>
                <key>spriteSourceSize</key>
                <string>{81,27}</string>
                <key>textureRect</key>
                <string>{{1,30},{81,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 4923.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,27}</string>
                <key>spriteSourceSize</key>
                <string>{81,27}</string>
                <key>textureRect</key>
                <string>{{1,59},{81,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 4925.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{81,23}</string>
                <key>spriteSourceSize</key>
                <string>{81,27}</string>
                <key>textureRect</key>
                <string>{{1,115},{81,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 4927.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{81,25}</string>
                <key>spriteSourceSize</key>
                <string>{81,27}</string>
                <key>textureRect</key>
                <string>{{1,88},{81,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 4929.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{81,23}</string>
                <key>spriteSourceSize</key>
                <string>{81,27}</string>
                <key>textureRect</key>
                <string>{{1,140},{81,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 4931.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,21}</string>
                <key>spriteSourceSize</key>
                <string>{81,27}</string>
                <key>textureRect</key>
                <string>{{1,165},{81,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 4933.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,21}</string>
                <key>spriteSourceSize</key>
                <string>{81,27}</string>
                <key>textureRect</key>
                <string>{{1,165},{81,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 4935.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,21}</string>
                <key>spriteSourceSize</key>
                <string>{81,27}</string>
                <key>textureRect</key>
                <string>{{1,188},{81,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 4937.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,21}</string>
                <key>spriteSourceSize</key>
                <string>{81,27}</string>
                <key>textureRect</key>
                <string>{{1,188},{81,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 5034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,12}</string>
                <key>spriteSourceSize</key>
                <string>{28,12}</string>
                <key>textureRect</key>
                <string>{{1,619},{28,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 5036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,12}</string>
                <key>spriteSourceSize</key>
                <string>{28,12}</string>
                <key>textureRect</key>
                <string>{{31,619},{28,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 5038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,12}</string>
                <key>spriteSourceSize</key>
                <string>{28,12}</string>
                <key>textureRect</key>
                <string>{{67,572},{28,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 5040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{91,605},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 5042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{33,573},{32,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 5044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{40,56}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{84,162},{40,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 5047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{50,66}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{70,361},{50,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 5049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,70}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{76,220},{50,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 5051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{50,66}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{1,370},{50,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 5053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{50,66}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{1,422},{50,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 5055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{69,429},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 5057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{1,525},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 5059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,20}</string>
                <key>spriteSize</key>
                <string>{44,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,70}</string>
                <key>textureRect</key>
                <string>{{1,573},{44,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 7022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,10}</string>
                <key>spriteSourceSize</key>
                <string>{11,10}</string>
                <key>textureRect</key>
                <string>{{106,528},{11,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 7024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,10}</string>
                <key>spriteSourceSize</key>
                <string>{11,10}</string>
                <key>textureRect</key>
                <string>{{106,540},{11,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 7027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,15}</string>
                <key>spriteSourceSize</key>
                <string>{28,15}</string>
                <key>textureRect</key>
                <string>{{51,525},{28,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 7029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,15}</string>
                <key>spriteSourceSize</key>
                <string>{28,15}</string>
                <key>textureRect</key>
                <string>{{51,525},{28,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 7031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,15}</string>
                <key>spriteSourceSize</key>
                <string>{28,15}</string>
                <key>textureRect</key>
                <string>{{51,555},{28,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 7033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,15}</string>
                <key>spriteSourceSize</key>
                <string>{28,15}</string>
                <key>textureRect</key>
                <string>{{51,555},{28,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 7035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,15}</string>
                <key>spriteSourceSize</key>
                <string>{28,15}</string>
                <key>textureRect</key>
                <string>{{61,611},{28,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 7037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,15}</string>
                <key>spriteSourceSize</key>
                <string>{28,15}</string>
                <key>textureRect</key>
                <string>{{61,611},{28,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 7039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{43,31}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{84,129},{43,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 7041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{59,43}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{84,68},{59,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 7043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{59,43}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{84,68},{59,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 7045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{59,43}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{84,68},{59,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 7047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{65,43}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{84,1},{65,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 7049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{65,43}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{84,1},{65,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 7051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{65,49}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{1,474},{65,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 7053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{65,49}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{1,474},{65,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 7055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{67,53}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{72,292},{67,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 7057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{67,53}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{72,292},{67,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 7059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{69,53}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{1,266},{69,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 7061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{69,53}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{1,266},{69,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 7063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{73,53}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{1,211},{73,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 7065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{73,53}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{1,211},{73,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 7067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{67,47}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{1,321},{67,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 7069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{67,47}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{1,321},{67,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 7071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{59,45}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{68,481},{59,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 7073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{59,45}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{68,481},{59,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bullet.png</string>
            <key>size</key>
            <string>{128,632}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5ab6fb254eba1a1b9e8c34dedea9849:912485b8f5ccb5119b8aeaaf89041015:2afb0b8dfa048ea2bbd02e313d2c7964$</string>
            <key>textureFileName</key>
            <string>bullet.png</string>
        </dict>
    </dict>
</plist>
