<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image 1570.bmp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,600}</string>
                <key>spriteSourceSize</key>
                <string>{700,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{700,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 1583.bmp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,600}</string>
                <key>spriteSourceSize</key>
                <string>{700,600}</string>
                <key>textureRect</key>
                <string>{{603,1},{700,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 1649.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{1963,1},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 1651.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{1963,17},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 1653.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{1963,33},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 1655.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{1963,49},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 1657.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{1963,65},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 1659.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{1963,49},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 1661.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{1963,33},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 1663.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{1963,1},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 1788.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,61}</string>
                <key>spriteSourceSize</key>
                <string>{57,61}</string>
                <key>textureRect</key>
                <string>{{1877,503},{57,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 1790.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,61}</string>
                <key>spriteSourceSize</key>
                <string>{57,61}</string>
                <key>textureRect</key>
                <string>{{1807,511},{57,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 1792.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,61}</string>
                <key>spriteSourceSize</key>
                <string>{57,61}</string>
                <key>textureRect</key>
                <string>{{1870,562},{57,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 1794.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,61}</string>
                <key>spriteSourceSize</key>
                <string>{57,61}</string>
                <key>textureRect</key>
                <string>{{1807,570},{57,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 1796.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,61}</string>
                <key>spriteSourceSize</key>
                <string>{57,61}</string>
                <key>textureRect</key>
                <string>{{1933,562},{57,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 1798.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,61}</string>
                <key>spriteSourceSize</key>
                <string>{57,61}</string>
                <key>textureRect</key>
                <string>{{1870,621},{57,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 1800.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,61}</string>
                <key>spriteSourceSize</key>
                <string>{57,61}</string>
                <key>textureRect</key>
                <string>{{1807,629},{57,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 1802.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,61}</string>
                <key>spriteSourceSize</key>
                <string>{57,61}</string>
                <key>textureRect</key>
                <string>{{1933,625},{57,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 2099.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{44,74}</string>
                <key>spriteSourceSize</key>
                <string>{58,74}</string>
                <key>textureRect</key>
                <string>{{1807,393},{44,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 2101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{50,74}</string>
                <key>spriteSourceSize</key>
                <string>{58,74}</string>
                <key>textureRect</key>
                <string>{{1807,341},{50,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 2103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,74}</string>
                <key>spriteSourceSize</key>
                <string>{58,74}</string>
                <key>textureRect</key>
                <string>{{1883,281},{56,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 2105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,74}</string>
                <key>spriteSourceSize</key>
                <string>{58,74}</string>
                <key>textureRect</key>
                <string>{{1807,281},{58,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 2107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{54,74}</string>
                <key>spriteSourceSize</key>
                <string>{58,74}</string>
                <key>textureRect</key>
                <string>{{1883,339},{54,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 2150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,68}</string>
                <key>spriteSourceSize</key>
                <string>{34,68}</string>
                <key>textureRect</key>
                <string>{{1883,395},{34,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 2152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,68}</string>
                <key>spriteSourceSize</key>
                <string>{34,68}</string>
                <key>textureRect</key>
                <string>{{1953,395},{34,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 2154.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,68}</string>
                <key>spriteSourceSize</key>
                <string>{34,68}</string>
                <key>textureRect</key>
                <string>{{1883,431},{34,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 2156.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,68}</string>
                <key>spriteSourceSize</key>
                <string>{34,68}</string>
                <key>textureRect</key>
                <string>{{1883,431},{34,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 2158.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,68}</string>
                <key>spriteSourceSize</key>
                <string>{34,68}</string>
                <key>textureRect</key>
                <string>{{1953,465},{34,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 2160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,68}</string>
                <key>spriteSourceSize</key>
                <string>{34,68}</string>
                <key>textureRect</key>
                <string>{{1807,439},{34,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 2162.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,68}</string>
                <key>spriteSourceSize</key>
                <string>{34,68}</string>
                <key>textureRect</key>
                <string>{{1877,467},{34,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 2164.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,68}</string>
                <key>spriteSourceSize</key>
                <string>{34,68}</string>
                <key>textureRect</key>
                <string>{{1807,475},{34,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 287.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,600}</string>
                <key>spriteSourceSize</key>
                <string>{700,600}</string>
                <key>textureRect</key>
                <string>{{1205,1},{700,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 390.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{1807,1},{76,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 398.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{1885,1},{76,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{1807,71},{76,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{1885,71},{76,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 405.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{1807,141},{76,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 407.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{1885,141},{76,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 409.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{1807,211},{76,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 411.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{76,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,70}</string>
                <key>textureRect</key>
                <string>{{1885,211},{76,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{1991,702}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2096229dcf6850fcc99ef75947ac65e1:7efcafb33591c8b8f56d0479ec8a3406:ac44135ad7f9bbae94fd5e52745d3e3e$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
