<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image 10034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{1,1205},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 10040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{39,1205},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 10149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{52,60}</string>
                <key>textureRect</key>
                <string>{{963,121},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 1409.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{647,1205},{35,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 1413.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{977,690},{35,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 1429.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{46,44}</string>
                <key>textureRect</key>
                <string>{{977,390},{46,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 1447.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{963,240},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 1449.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{963,290},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 1465.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{963,340},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 3245.bmp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,600}</string>
                <key>spriteSourceSize</key>
                <string>{700,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{700,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 3266.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,96}</string>
                <key>spriteSourceSize</key>
                <string>{199,96}</string>
                <key>textureRect</key>
                <string>{{889,763},{199,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 3323.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{396,258}</string>
                <key>spriteSourceSize</key>
                <string>{396,260}</string>
                <key>textureRect</key>
                <string>{{703,1},{396,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 3366.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{362,272}</string>
                <key>spriteSourceSize</key>
                <string>{364,274}</string>
                <key>textureRect</key>
                <string>{{703,399},{362,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 3543.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,53}</string>
                <key>spriteSourceSize</key>
                <string>{118,53}</string>
                <key>textureRect</key>
                <string>{{963,1},{118,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 3681.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,288}</string>
                <key>spriteSourceSize</key>
                <string>{184,288}</string>
                <key>textureRect</key>
                <string>{{703,763},{184,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 3685.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,288}</string>
                <key>spriteSourceSize</key>
                <string>{184,288}</string>
                <key>textureRect</key>
                <string>{{703,1053},{184,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 3717.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{921,1026},{24,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 3718.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{977,726},{24,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 3720.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{889,1026},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 3783.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{889,964},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 4121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{963,183},{55,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image 4381.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{977,438},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 4389.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{977,480},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 4391.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{977,522},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 4425.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{977,564},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 4427.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{977,606},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 4475.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{977,648},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 4691.bmp</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,600}</string>
                <key>spriteSourceSize</key>
                <string>{700,600}</string>
                <key>textureRect</key>
                <string>{{1,603},{700,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 4725.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{951,964},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 9866.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{77,1205},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 9868.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{115,1205},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 9870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{153,1205},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 9872.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{191,1205},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 9880.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{229,1205},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 9882.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{267,1205},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 9896.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{305,1205},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 9912.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{343,1205},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 9918.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{381,1205},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 9928.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{419,1205},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 9964.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{457,1205},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 9966.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{495,1205},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 9984.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{533,1205},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 9986.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{571,1205},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image 9998.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{609,1205},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>others.png</string>
            <key>size</key>
            <string>{1022,1241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:138c624fb080634a4a408e65f6b37c89:7be61f5f0c8568ab1bb4f4cb805ac8c0:ddbf81f48aabe37f7be37472eca089e2$</string>
            <key>textureFileName</key>
            <string>others.png</string>
        </dict>
    </dict>
</plist>
